.loginwrapper {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.pageContent {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 54%;
    width: 25%;
  }
  .line{
    border: 2px solid black;
    width: 80%;
    margin: 20px 0;
  }
.formContent {
  margin: 40px 0;
  width: 80%;
  line-height: 25px;
  text-align: center;
}
.formContent input{
    border-top:none;
    border-left: none;
    border-right: none;
    width: 100%;
}
.formContent button{
    margin: 20px 0;
    width: 54px;
    height: 25px;
    font-weight: 600;
 
}
.pageContent a{
    
}
